.app {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: white;
    color: black;
}

input {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.event-list {
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}